/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
    min-height:100vh;
    color:white;
}

/* Navbar */

.navbar{
    background:rgba(0,0,0,.6)!important;
    backdrop-filter:blur(10px);
}

.navbar-brand{
    font-size:28px;
    font-weight:bold;
}

.nav-link{
    color:white!important;
    margin-left:15px;
    transition:.3s;
}

.nav-link:hover{
    color:#38bdf8!important;
}

/* Hero */

h1{
    font-weight:700;
}

h3{
    color:#38bdf8;
}

p{
    font-size:18px;
    line-height:1.7;
}

img{
    transition:.5s;
}

img:hover{
    transform:scale(1.05);
}

/* Buttons */

.btn-primary{
    background:#2563eb;
    border:none;
}

.btn-primary:hover{
    background:#1d4ed8;
}

.btn-outline-dark{
    border:2px solid white;
    color:white;
}

.btn-outline-dark:hover{
    background:white;
    color:black;
}

/* Cards */

.card{
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(10px);
    border:none;
    border-radius:15px;
    color:white;
    transition:.4s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 25px rgba(0,0,0,.3);
}

/* Skills */

.skill{
    margin-bottom:20px;
}

.progress{
    height:12px;
    border-radius:30px;
}

.progress-bar{
    background:#38bdf8;
}

/* Contact Form */

form{
    background:rgba(255,255,255,.12);
    padding:30px;
    border-radius:15px;
    backdrop-filter:blur(10px);
}

input,
textarea{
    margin-bottom:15px!important;
}

textarea{
    resize:none;
}

/* Footer */

footer{
    margin-top:80px;
}

/* Animation */

.fade{
    animation:fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* Responsive */

@media(max-width:768px){

h1{
font-size:38px;
}

img{
margin-top:30px;
width:250px!important;
}

.navbar-brand{
font-size:22px;
}

}
a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}